{% extends "layout.html" %}
{% block content %}

<div class="about">
    <h1>What's the point?</h1>
    <p>I wanted to see the correlations between Bitcoin and other assets, this is some what of a research paper.Your
        more than welcome to just look at the graphs rather than reading, but do note that just because there is a
        correlation showing does NOT mean it to be true. There are outliers that can effect the accuracy of correlations
        but for the sake of easily understanding, and not reading deeply on google about what's going on, we won't worry
        about outliers.
    </p>
</div>

{% endblock %}