{% extends "layout.html" %}
{% block content %}

<img id="faang" , src="/static/faang_btc.png" alt="faang">

<p>We determine the covariance - 
    <b>covariance(x,y)= ?(xn - x?)(yn - ?)/N-1</b> which gives us 
    Price_x Price_y
    Price_x 3.781077e+05 1.784042e+06
    Price_y 1.784042e+06 1.468699e+07
</p>
<p> Next we must find the standard deviation which first we must find the mean Price_x Price_y
mean 1992.823714 4201.737095. For each number subtract the mean and square the result 4201.737095 - 1992.823714 = 2208.913381, square the result = 4879298.324760852261, then work out the mean of our sqaured number = 61, square out result, = 7.81. The standar deviation for our numbers is 7.81 </p>
<div class="faang">
    <h1>FAANG</h1>
    <p> FAANG which is a catchy acronym for Facebook($FB), Apple($AAPL), Amazon($AMZN), Netflix($NFLX), Google($GOOG). It is the five most popular and best perfoming tech stocks. The market capitilziation of these comapnies was equal to $3.1 trillion. </p>
    <p>They are known as growth and momentum stocks, and are the most highly valued in the world from a p/e perspective. They trade on Nasdaq, which is included in the S&P500 index, which as we've covered before is a broad representation of the market. They make up 1% of the index. An increase or decrease in these stocks directly influences the index.</p>
    <p>Were going to take a look at possible correlations, with these companies being known as tech stocks, and bitcoin being known as disruptive technology maybe there is a correlation.</p>

</div>

{% endblock %}
