{% extends "layout.html" %}
{% block content %}

<img id="gold" , src="/static/gold_btc.png" alt="gold">
<div class="gold">
    <h1>Gold</h1>
    <p>Bitcoin is commonly referred to as digital gold. Bitcoin proponents are okay with this, but gold bugs can't stand
        bitcoin for reasons I'll never understand. It's always confused me as the majority of the time they have many
        things in common. One of the main reasons why people buy gold is they view it as a safe haven during an economic
        crisis. Sound familiar?. Lets take the Genesis block for example, <u>"The Times 03/Jan/2009 Chancellor on the
            brink of second bailout for banks".</u></p>
    <p>Rewind to 2008 for a quick refresher. Sub-prime crisis. In Q3 of 2008 the economy shrank 0.3%. August 2008, Fannie and
        Freddie went bust. On October 3rd, 2008, Congress established
        TARP, which allowed the U.S Treasury to bail out troubled banks. Treasury Secretary lent out $115 billion to
        banks by purchasing preferred stock. It also increased the FDIC limit for bank deposits to $250k per account in
        hopes it would ease fears of insolvency. Cue the Genesis block.</p>
    <p>As Satoshi saw it he recognized the instability caused by fractional-reserve banking. Much like gold, it's a
        hedge against the economy. That's your history lesson for the day, now let's get to the point. Correlations.</p>
</div>

{% endblock %}