{% extends "layout.html" %}
{% block content %}

<img id="sp500", src="/static/sp500_btc.png" alt="sp500">
<div class="spindex">
    <h1>Bitcoin vs S&P500</h1>
    <p>I have chosen to use the S&P500 and explore the correlation between the two variables based upon the data
        supplied. The S&P500 is a commonly used benchmark because it usually reflects the performance of the overall
        U.S. stock market. The index is comprised of the 500 largest companies on the New York Stock Exchange (NYSE).
    </p>
</div>

{% endblock %}